# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.oop_lab3.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Madi\source\repos\oop_lab3\.idea\.idea.oop_lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
